{% extends 'base.html.twig' %}

{% block title %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prompte-genereted</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
{% endblock %}

{% block content %}
    <div class="h-screen bg-gradient-to-r from-cyan-500 to-blue-500 to-90%">
        <div class="flex justify-center ...">

            <div class="grid grid-cols-1 gap-4">

            <div class="mt-20 flex items-center justify-center w-96">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-dashed rounded-lg cursor-pointer">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <span class="mb-2 text-sm text-white font-semibold">Click here to upload</span>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" />
                </label>
            </div>

            <img id="uploadedImage" class="mt-4 hidden w-48 h-auto rounded-lg" alt="pic"/>
            </div>

            {% block javascripts %}
                <script src="{{ asset('js/upload.js') }}"></script>
            {% endblock %}
        </div>
    </div>
{% endblock %}